.addPackWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.addPackBtnWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.addPackBtnCancel {
    background-color: #D7D8EF;
    color: #21268F;
}