.container{
    padding: 25px 33px 30px;
    width: 413px;
    background-color: #2F4F4F;
    color: #F9F9FE;
    border-radius: 8px;
    margin: 1em auto 2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px;
}

label {
    padding: 10px;
    display: grid;
}

.formSummaryError {
    color: red;
}

.title{
    font-family: 'Poppins',sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #F9F9FE;
}
.img{
    width: 108px;
    margin-bottom: 25px;
}
.link{
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    margin-top: 50px;
}